body {
  margin: 20;
  padding: 20;
  background-image: url('./imagens/wepik-export-20231202001648CjQr.jpeg');
  background-size: 100% 100%; 
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartola-info-container {
  
  
  body {
    margin: 0;
    padding: 0;
    background-image: url('./imagens/wepik-export-20231202001648CjQr.jpeg');
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cartola-info-container {
    
    
    padding: 1px; 
  }
}

h1 {
  text-align: center;
  font-family: 'Sua Fonte Estilizada', sans-serif; /* Substitua 'Sua Fonte Estilizada' pela fonte desejada */
  font-size: 2em; /* Ajuste o tamanho da fonte conforme necessário */
  color: #007bff;
  margin-bottom: 20px;
  margin-top: 100px;
  text-shadow: 2px 2px 4px rgba(12, 14, 15, 0.8); /* Adiciona uma sombra nas letras para simular uma borda azul */
}

.cards-container {
  margin-top: 60px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card {
  width: calc(10% - 15px);
  height: 190px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.card img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card p {
  margin-top: auto; 
  margin-bottom: 5px;
  color: #333;
}

.botoes-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.botao {
  background: #007bff;
  color: #fff;
  padding: 10px 51px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
}
.rodape-container {
  background-color: #f0f0f0;
  padding: 5px;
  text-align: center;
}

.rodape-item {
  display: inline-block;
  margin: 0 10px;
  padding: 5px 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}


.lista-times {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.lista-times li {
  list-style: none;
  margin: 2px;
}
span {
  color: #fcf8f7; /* Substitua #ff4500 pela cor desejada para o texto da página */
  text-shadow: 2px 2px 4px rgba(12, 14, 15, 0.8);
}